.RegisterPage {
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "Header"
        "Footer";
}

.Header {
    grid-area: Header;
}

.Footer {
    grid-area: Footer;
}

.FormRegister {
    grid-area: FormRegister;
}